/*
 * CSS specific to Footnotes module.
 *
 * This is an alternative layout, it is not so nice but overcomes
 * the layout bugs on IE. http://drupal.org/node/166628
 * To use this layout, just rename this file to footnotes.css.
 */
 

/* Add empty space before footnotes and a black line on top. */
.footnotes {
  margin-top: 4em;
  margin-bottom: 2em;
  border-top: 1px solid #000000;
}

/* Make footnotes appear in a smaller font */
.footnotes {
  font-size: 0.9em;
}

/* 
  Make the footnote a supertext^1
*/
.see_footnote {
  vertical-align: top;
  position: relative;
  top: -0.25em;
  font-size: 0.9em;
}

/* Hide the actual number of the OL list of footnotes*/
ol.footnotes {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
ol.footnotes li {
  margin-left: 0.5em;
}
.footnotes .footnote {
  vertical-align: top;
  position: relative;
  top: -0.35em;
  left: -0.35em;
  font-size: 0.8em;
}

/*
 * Textile Footnotes 
 */
 /* First footnote */
 #fn1 {
   border-top: 1px solid #000000;
   margin-top: 3em;
 }
 .footnote {
   font-size: 0.9em;
 }
 